
body {
    background: url("../img/BG.png") no-repeat center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}
.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: 'Raleway Dots', cursive;
    font-size: 8vw;
    line-height: 8vw;
    text-align: center;
    color: #0c090a;
    filter: blur(1rem);
    -webkit-animation: start 2s .5s ease forwards;
}

@-webkit-keyframes start {
    0% { filter: blur(1rem);}
    35% { filter: blur(0);}
    80% { filter: blur(0);}
    100% {filter: blur(1); display: none;}
}

#intro-title {
    font-family: 'Raleway Dots', cursive;
    font-size: 2.5vw;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    font-weight: 100;
    color: #0c090a;
    line-height: 4vh;
    opacity: 0;
    filter: blur(1rem);
    -webkit-animation: appear 2s 2.5s ease forwards;
}

@-webkit-keyframes appear {
    0% { filter: blur(1rem); opacity:0;}
    20% { filter: blur(0); opacity:1;}
    100%{filter: blur(0); opacity:1; }
}

#start {
    font-family: 'Raleway Dots', cursive;
    font-size: 1.2vw;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: none;
}

.left-title {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-6%, -50%) rotate(270deg);
    font-family: 'Raleway Dots', cursive;
    font-size: .8vw;
    text-align: center;
}

.right-title {
    position: absolute;
    top: 50%;
    left: 94%;
    transform: translate(-94%, -50%) rotate(90deg);
    font-family: 'Raleway Dots', cursive;
    font-size: .8vw;
    text-align: center;
}

.indicator {
    font-family: 'Raleway Dots', cursive;
    font-size: .8vw;
}

.side-1 {
    position: absolute;
    top: 6%;
    left: 9%;
    transform: translate(-9%, -6%);
}

.side-2{
    position: absolute;
    top: 93%;
    left: 9%;
    transform: translate(-9%, -93%);
}

.side-3 {
    position: absolute;
    top: 6%;
    left: 91%;
    transform: translate(-91%, -6%);
    text-align: right;
}

.side-4 {
    position: absolute;
    top: 93%;
    left: 91%;
    transform: translate(-91%, -93%);
    text-align: right;
}
.click {
    display: none;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 85%;
    transform: translate(-50%, -50%);
}

.cover {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 90%;
    opacity: .8;
}

.kor {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    color: #0c090a;
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #0c090a;
}

.eng {
    width: 70%;
    font-family: 'Raleway', sans-serif;
    font-size: .8vw;
    font-weight: 200;
    color: #0c090a;
    line-height: 3vh;
}

.apple-1 {
    position: absolute;
    top: 38%;
    left: 35%;
    transform: translate(-35%, -38%);
    width: 10%;
    cursor: pointer;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px #242424);
}

.apple-1.moving-apple {
    -webkit-animation: moving-apple 1.5s .3s ease-in-out infinite;
}

@keyframes moving-apple {
    0%   { -webkit-transform: scale(1, 1)    translate(-35%, -38%); }
    10%  { -webkit-transform: scale(1.2,.8) translate(-35%, -38%); }
    30%  { -webkit-transform: scale(.8,1.2) translate(-35%, -60%);  }
    50%  { -webkit-transform: scale(1, 1)   translate(-35%, -38%); }
    57%  { -webkit-transform: scale(1, 1)   translate(-35%, -50%); }
    64%  { -webkit-transform: scale(1, 1)  translate(-35%, -38%); }
    100% { -webkit-transform: scale(1, 1)   translate(-35%, -38%);  }
}

.apple-1.animate-apple  {
    -webkit-animation: animate-apple.5s .2s ease forwards;
}

@-webkit-keyframes animate-apple {
    to { top: 25%;
        left: -20%; opacity:.2;}
}

.apple-1.center-apple  {
    -webkit-animation: center-apple.5s .2s ease forwards;
}

@-webkit-keyframes center-apple {
    to {top: 2%;
        left: 45%;
        transform: scale(.8, .8);}
}

.apple-b {
    position: absolute;
    top:-20%;
    left: 30%;
    transform: translate(-30%, 20%);
}

.apple {
    position: absolute;
    top:50%;
    left: 60%;
    transform: translate(-60%, -50%);
    text-align: left;
    display: none;
}

.back-1 {
    position: absolute;
    top:-3%;
    left: 65%;
    transform: translate(-65%, 3%) rotate(15deg);
    width: 10%;
    cursor: pointer;
    filter: drop-shadow(16px 16px 10px #242424);
}

.back-1.moving-back  {
    -webkit-animation: moving-back 2s .3s ease infinite;
}

@-webkit-keyframes moving-back {
    0% {-webkit-transform:  translate(-65%, 3%) rotate(15deg);}
    25% {-webkit-transform:  translate(-65%, 3%) rotate(30deg) ;}
    75% {-webkit-transform: translate(-65%, 3%) rotate(15deg);}
}

.back-1.animate-back  {
    -webkit-animation: animate-back .5s .2s ease forwards;
}

@-webkit-keyframes animate-back {
    to {top: -15%; left: 110%; transform: rotate(100deg);}
}

.back-1.center-back  {
    -webkit-animation: center-back .5s .2s ease forwards;
}

@-webkit-keyframes center-back {
    to {top: -20%;
        left: 43%; transform: scale(.6, .6) rotate(-20deg);}
}

.back-a {
    position: absolute;
    top:-20%;
    left: 30%;
    transform: translate(-30%, 20%);
}

.back {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    display: none;
}

.natural-1 {
    position: absolute;
    top:15%;
    left: 35%;
    transform: translate(-10%, -35%);
    width: 14%;
    display: inline-block;
    filter: drop-shadow(12px 12px 10px #242424);
}

.natural-1.animate-natural1 {
    -webkit-animation: animate-natural1 .5s .2s ease forwards;
}

@-webkit-keyframes animate-natural1{
    to {top: -10%; left: 5%; transform: rotate(-30deg);}
}

.natural-2 {
    position: absolute;
    top:15%;
    left: 30%;
    transform: translate(-10%, -35%) rotate(-15deg);
    width: 14%;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px #242424);
}

.natural-2.moving-natural  {
    -webkit-animation: moving-natural 2s .3s linear infinite;
}

@-webkit-keyframes moving-natural {
    0% {transform:  translate(-10%, -35%) rotate(-15deg);}
    25% {transform: translate(-10%, -35%)  rotate(-30deg);}
    75% {transform: translate(-10%, -35%)  rotate(-15deg);}
}

.natural-2.animate-natural2 {
    -webkit-animation: animate-natural2 .5s .2s ease forwards;
}

@-webkit-keyframes animate-natural2{
    to {top:-50%; transform: rotate(-60deg);}
}

.natural-2.center-natural {
    -webkit-animation: center-natural .5s .2s ease forwards;
}

@-webkit-keyframes center-natural {
    to {top: -5%; left: 42%; transform: scale(.7, .7);}
}

.natural-a {
    position: absolute;
    top: -15%;
    left: 30%;
    transform: translate(-30%, -15%);
}

.natural {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    display: none;
}

.fruit-1 {
    position: absolute;
    top: 102%;
    left: 70%;
    transform: translate(-70%, -102%);
    width: 18%;
    filter: drop-shadow(8px 6px 10px #242424);
}

.fruit-1.animate-fruit1 {
    -webkit-animation: animate-fruit1 .5s .2s ease forwards;
}

@-webkit-keyframes animate-fruit1{
    to { top:75%; left:80%; transform:rotate(20deg);}
}

.fruit-2 {
    position: absolute;
    top: 72%;
    left: 56%;
    transform: translate(-56%, -72%);
    cursor: pointer;
    width: 12%;
    z-index: 1;
}

.fruit-2.animate-fruit2 {
    -webkit-animation: animate-fruit2 .5s .2s ease forwards;
}

@-webkit-keyframes animate-fruit2{
    to {top: 70%; left: 120%;}
}

.fruit-2.moving-fruit  {
    -webkit-animation: moving-fruit 2s .3s linear infinite;
}

@-webkit-keyframes moving-fruit {
    0% {-webkit-transform: translate(-56%, -72%) rotate(0deg) scale(1, 1);}
    50% {-webkit-transform: translate(-56%, -72%) rotate(-60deg) scale(1.2, 1.2);}
    100%  {-webkit-transform: translate(-56%, -72%) rotate(0deg) scale(1, 1);}
}

.fruit-2.center-fruit {
    -webkit-animation: center-fruit .5s .2s ease forwards;
}

@-webkit-keyframes center-fruit {
    to {top: 0%; left: 44%; transform: scale(.7,.7);}
}

.fruit-a {
    position: absolute;
    top:-30%;
    left: 30%;
    transform: translate(-30%, 30%);
}

.fruit {
    position: absolute;
    top:50%;
    left: 60%;
    transform: translate(-60%, -50%);
    display: none;
}

.honey-1 {
    position: absolute;
    top: 95%;
    left: 32%;
    transform: translate(-32%, -95%);
    width: 15%;
    filter: drop-shadow(10px 10px 10px #242424);
}

.honey-1.animate-honey1 {
    -webkit-animation: animate-honey1 .5s .2s ease forwards;
}

@-webkit-keyframes animate-honey1{
    to {top: 50%; left: -5%; transform:rotate(-60deg);}
}

.honey-2 {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-25%, -60%);
    width: 17%;
    cursor: pointer;
    filter: drop-shadow(16px 16px 10px #242424);
}

.honey-2.moving-honey {
    -webkit-animation: moving-honey 2s .3s ease infinite;
}

@-webkit-keyframes moving-honey {
    0% { top: 60%;}
    50% { top: 65%;}
    100% { top: 60%;}
}

.honey-2.animate-honey2 {
    -webkit-animation: animate-honey2 .5s .2s ease forwards;
}

@-webkit-keyframes animate-honey2{
    to {top:140%; left: 25%;}
}

.honey-2.center-honey {
    -webkit-animation: center-honey .5s .2s ease forwards;
}

@-webkit-keyframes center-honey {
    to { top: 0%; left: 44%; transform: scale(.7, .7);}
}

.honey-a {
    position: absolute;
    top:-30%;
    left: 30%;
    transform: translate(-30%, 30%);
}

.honey {
    position: absolute;
    top:50%;
    left: 60%;
    transform: translate(-60%, -50%);
    display: none;
}

.gold-1 {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -105%) rotate(10deg);
    width: 25%;
    cursor: pointer;
    filter: drop-shadow(12px 12px 10px #242424);
}

.gold-1.moving-gold {
    -webkit-animation: moving-gold 2s .3s ease infinite;
}

@-webkit-keyframes moving-gold {
    from {filter: brightness(1);}
    to {filter: brightness(2);}
}

.gold-1.animate-gold1 {
    -webkit-animation: animate-gold1 .5s .2s ease forwards;
}

@-webkit-keyframes animate-gold1{
    to {  top: 185%; opacity:.2;}
}

.gold-1.center-gold {
    -webkit-animation: center-gold .5s .2s ease forwards;
}

@-webkit-keyframes center-gold {
    to  {top: 2%; left: 36%; transform: scale(.6, .6);}
}

.gold-2 {
    position: absolute;
    top: 72%;
    left: 45%;
    transform: translate(-45%, -72%);
    width: 20%;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px #242424);
}

.gold-2.animate-gold2 {
    -webkit-animation: animate-gold2 .5s .2s ease forwards;
}

@-webkit-keyframes animate-gold2{
    to { top: 82%; left: 35%; transform:rotate(90deg);}
}

.gold-a {
    position: absolute;
    top:-30%;
    left: 30%;
    transform: translate(-30%, 30%);
}

.gold {
    position: absolute;
    top:50%;
    left: 60%;
    transform: translate(-60%, -50%);
    display: none;
}

.bagel-1 {
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translate(-52%, -5%);
    width: 12%;
    filter: drop-shadow(12px 12px 10px #242424);
}

.bagel-1.animate-bagel1{
    -webkit-animation: animate-bagel1 .5s .2s ease forwards;
}

@-webkit-keyframes animate-bagel1{
    to { top: 5%; left: 80%; transform:rotate(150deg);}
}

.bagel-2 {
    position: absolute;
    top: -9%;
    left: 52%;
    transform: translate(-52%, 10%);
    width: 12%;
    cursor: pointer;
    filter: drop-shadow(8px 8px 10px #242424);
}

.bagel-2.moving-bagel {
    -webkit-animation: moving-bagel 1s .3s linear infinite;
}

@-webkit-keyframes moving-bagel {
    from {-webkit-transform: translate(-52%, 10%) rotate(0deg) ;}
    to {-webkit-transform: translate(-52%, 10%) rotate(360deg) ;}
}

.bagel-2.animate-bagel2{
    -webkit-animation: animate-bagel2 .5s .2s ease forwards;
}

@-webkit-keyframes animate-bagel2{
    to {top: -90%; opacity:.2;}
}

.bagel-2.center-bagel {
    -webkit-animation: center-bagel .5s .2s ease forwards;
}

@-webkit-keyframes center-bagel {
    to  { top: 0%; left: 45%; transform: rotate(0deg) scale(.7, .7);}
}

.bagel-a {
    position: absolute;
    top:-15%;
    left: 30%;
    transform: translate(-30%, 15%);
}

.bagel {
    position: absolute;
    top:55%;
    left: 60%;
    transform: translate(-60%, -55%);
    display: none;
}

.coke-2 {
    position: absolute;
    top: 22%;
    left: 62%;
    transform: translate(-62%, -22%) rotate(-30deg);
    width: 12%;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px #242424);
}

.coke-2.moving-coke2 {
    -webkit-animation: moving-coke2 1s .3s linear infinite;
}

@-webkit-keyframes moving-coke2 {
    0% {-webkit-transform: translate(-62%, -22%) rotate(-30deg) ;}
    25% {-webkit-transform:translate(-62%, -22%) rotate(-55deg) ;}
    75% {-webkit-transform:translate(-62%, -22%) rotate(-30deg) ;}
}

.coke-2.animate-coke2{
    -webkit-animation: animate-coke2 .5s .2s ease forwards;
}

@-webkit-keyframes animate-coke2{
    to {top:22%; left:150%; transform:rotate(45deg); opacity:.2;}
}

.coke-2.center-coke2 {
    -webkit-animation: center-coke2 .5s .2s ease forwards;
}

@-webkit-keyframes center-coke2 {
    to  {top: 2%; left: 47%; transform: scale(.8,.8) rotate(-60deg);}
}

.coke-3 {
    position: absolute;
    top: 18%;
    left: 60%;
    transform: translate(-60%, -18%) scale(.7, .7) rotate(-10deg);
    width: 12%;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px #242424);
}

.coke-3.moving-coke3 {
    -webkit-animation: moving-coke3 1s .3s linear infinite;
}

@-webkit-keyframes moving-coke3 {
    0% {-webkit-transform: translate(-60%, -18%) scale(.7, .7) rotate(-10deg) ;}
    25% {-webkit-transform: translate(-60%, -18%) scale(.7, .7) rotate(15deg) ;}
    75% {-webkit-transform: translate(-60%, -18%) scale(.7, .7) rotate(-10deg) ;}
}

.coke-3.animate-coke3{
    -webkit-animation: animate-coke3 .5s .2s ease forwards;
}

@-webkit-keyframes animate-coke3 {
    to {top:22%; left:-100%; transform:rotate(65deg);}
}

.coke-3.center-coke3 {
    -webkit-animation: center-coke3 .5s .2s ease forwards;
}

@-webkit-keyframes center-coke3 {
    to  {top: -5%; left: 42%; transform: scale(.55,.55) rotate(15deg);}
}

.coke-a {
    position: absolute;
    top:-25%;
    left: 30%;
    transform: translate(-30%, 25%);
}

.coke {
    position: absolute;
    top:55%;
    left: 60%;
    transform: translate(-60%, -50%);
    display: none;
}