
body {
    background: url("../img/BG.jpg") no-repeat center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}
.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: 'Raleway Dots', cursive;
    font-size: 10vw;

    text-align: center;
    color: #0c090a;
    filter: blur(1);
    opacity:0;
    -webkit-animation: start 4s 2s ease forwards;
}

@-webkit-keyframes start {
    0% { opacity:0; filter: blur(1);}
    10% {opacity:1;}
    35% { filter: blur(0);}
    80% { filter: blur(0);}
    95% {opacity:1;}
    100% {opacity:0; color: #fdfdfd;}
}

#intro-title {
    font-family: 'Raleway Dots', cursive;
    font-size: 3vw;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    color: #0c090a;
    line-height: 4vh;
    opacity: 0;
    filter: blur(1rem);
    -webkit-animation: appear 5s 5.5s ease-in forwards;
}

@-webkit-keyframes appear {
    0% { filter: blur(1rem); opacity:0;}
    20% { filter: blur(0); opacity:1;}
    100%{filter: blur(0); opacity:1; }
}

#start {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    cursor: pointer;
    color: #0c090a;
    filter: blur(1);
    -webkit-animation: start2 3s .5s ease infinite;
}

@-webkit-keyframes start2 {
    0% { opacity:1; filter: blur(1); color: #0c090a;}
    100% {opacity:.5;  color: #fdfdfd; }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: none;
}

.indicator {
    font-family: 'Raleway', sans-serif;
    font-size: .8vw;
    font-weight: 200;
    color: #5c5c5c;
}

.side-1 {
    position: absolute;
    top: 4%;
    left: 12%;
    transform: translate(-12%, -4%);
}

.side-2{
    position: absolute;
    top: 4%;
    left: 88%;
    transform: translate(-88%, -4%);
    text-align: right;
}

.side-3 {
    position: absolute;
    top: 94%;
    left: 12%;
    transform: translate(-12%, -94%);
    display: none;
}

.side-4 {
    position: absolute;
    top: 94%;
    left: 86%;
    transform: translate(-86%, -94%);
    text-align: right;
    display: none;
}

.left-title {
    position: absolute;
    top: 50%;
    left: -27%;
    transform: translate(27%, -50%) rotate(90deg);
    font-family: 'Raleway Dots', cursive;
    font-size: 10vw;
    font-weight: 200;
    color: #fdfdfd;
}

.right-title {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(-120%, -50%) rotate(-90deg);
    font-family: 'Raleway Dots', cursive;
    font-size: 10vw;
    font-weight: 200;
    text-align: left;
    color: #fdfdfd;
}

.click {
    display: none;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 85%;
    transform: translate(-50%, -50%);
}

.cover {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 90%;
    opacity: .8;
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    color: #0c090a;
    line-height: 4vh;
    text-align: center;
}

a {
   color: #ffffff;
   background: #656565;
}

.apple-1 {
    position: absolute;
    top: 38%;
    left: 38%;
    transform: translate(-38%, -38%);
    width: 10%;
    cursor: pointer;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px #242424);
    -webkit-animation: moving-apple 1.5s .5s ease-in-out infinite;
}

@keyframes moving-apple {
    0%   { -webkit-transform: scale(1, 1)    translate(-35%, -38%); }
    10%  { -webkit-transform: scale(1.2,.8) translate(-35%, -38%); }
    30%  { -webkit-transform: scale(.8,1.2) translate(-35%, -60%);  }
    50%  { -webkit-transform: scale(1, 1)   translate(-35%, -38%); }
    57%  { -webkit-transform: scale(1, 1)   translate(-35%, -50%); }
    64%  { -webkit-transform: scale(1, 1)  translate(-35%, -38%); }
    100% { -webkit-transform: scale(1, 1)   translate(-35%, -38%);  }
}

.apple-1.animate-apple  {
    -webkit-animation: animate-apple .2s ease forwards;
}

@-webkit-keyframes animate-apple {
    to { top: 25%;
        left: -20%; opacity:.2;}
}

.apple-1.center-apple  {
    -webkit-animation: center-apple .2s ease forwards;
}

@-webkit-keyframes center-apple {
    to {top: 5%;
        left: 45%;
        transform: scale(.8, .8);}
}

#title-apple {
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-apple {
   border-bottom: 2px solid #656565;
   cursor: pointer;
   background: none;
   color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

@-webkit-keyframes animate-button {
    from { border-bottom: 2px solid #656565; color: #0c090a;}
    to { border-bottom: 2px solid #ffffff; color: #fcfcfc;}
}

.apple {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}

.back-1 {
    position: absolute;
    top:-3%;
    left: 64%;
    transform: translate(-64%, 3%) rotate(15deg);
    width: 10%;
    cursor: pointer;
    filter: drop-shadow(16px 16px 10px #242424);
    -webkit-animation: moving-back 2s .5s ease infinite;
}

@-webkit-keyframes moving-back {
    0% {-webkit-transform:  translate(-64%, 3%) rotate(15deg);}
    25% {-webkit-transform:  translate(-64%, 3%) rotate(30deg) ;}
    75% {-webkit-transform: translate(-64%, 3%) rotate(15deg);}
}

.back-1.animate-back  {
    -webkit-animation: animate-back .2s ease forwards;
}

@-webkit-keyframes animate-back {
    to {top: -15%; left: 110%; transform: rotate(100deg); opacity:.5;}
}

.back-1.center-back  {
    -webkit-animation: center-back .2s ease forwards;
}

@-webkit-keyframes center-back {
    to {top: -15%;
        left: 45%; transform: scale(.5, .5) rotate(5deg)}
}

#title-back {
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-back {
    border-bottom: 2px solid #656565;
    cursor: pointer;
    background: none;
    color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

.back {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}

.natural-1 {
    position: absolute;
    top:15%;
    left: 35%;
    transform: translate(-10%, -35%);
    width: 14%;
    display: inline-block;
    filter: drop-shadow(12px 12px 10px #242424);
}

.natural-1.animate-natural1 {
    -webkit-animation: animate-natural1 .2s ease forwards;
}

@-webkit-keyframes animate-natural1{
    to {top: -10%; left: 5%; transform: rotate(-30deg); opacity:.5;}
}

.natural-2 {
    position: absolute;
    top:15%;
    left: 30%;
    transform: translate(-10%, -35%) rotate(-15deg);
    width: 14%;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px #242424);
    -webkit-animation: moving-natural 2s .5s linear infinite;
}

@-webkit-keyframes moving-natural {
    0% {transform:  translate(-10%, -35%) rotate(-15deg);}
    25% {transform: translate(-10%, -35%)  rotate(-30deg);}
    75% {transform: translate(-10%, -35%)  rotate(-15deg);}
}

.natural-2.animate-natural2 {
    -webkit-animation: animate-natural2 .2s ease forwards;
}

@-webkit-keyframes animate-natural2{
    to {top:-50%; transform: rotate(-60deg);}
}

.natural-2.center-natural {
    -webkit-animation: center-natural .2s ease forwards;
}

@-webkit-keyframes center-natural {
    to {top: -5%; left: 42%; transform: scale(.7, .7);}
}

#title-natural {
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-natural {
    border-bottom: 2px solid #656565;
    cursor: pointer;
    background: none;
    color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

.natural {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}

.fruit-1 {
    position: absolute;
    top: 102%;
    left: 70%;
    transform: translate(-70%, -102%);
    width: 18%;
    filter: drop-shadow(8px 6px 10px #242424) brightness(1);
}

.fruit-1.animate-fruit1 {
    -webkit-animation: animate-fruit1 .2s ease forwards;
}

@-webkit-keyframes animate-fruit1{
    to { top:75%; left:80%; transform:rotate(20deg); opacity:.5;}
}

.fruit-2 {
    position: absolute;
    top: 72%;
    left: 60%;
    transform: translate(-60%, -72%);
    cursor: pointer;
    width: 12%;
    z-index: 1;
    -webkit-animation: moving-fruit 2s .5s ease infinite;
}

.fruit-2.animate-fruit2 {
    -webkit-animation: animate-fruit2 .2s ease forwards;
}

@-webkit-keyframes animate-fruit2{
    to {top: 70%; left: 120%;}
}

@-webkit-keyframes moving-fruit {
    0% {-webkit-transform: translate(-56%, -72%) rotate(0deg) scale(1, 1);}
    50% {-webkit-transform: translate(-56%, -72%) rotate(-60deg) scale(1.2, 1.2);}
    100%  {-webkit-transform: translate(-56%, -72%) rotate(0deg) scale(1, 1);}
}

.fruit-2.center-fruit {
    -webkit-animation: center-fruit .2s ease forwards;
}

@-webkit-keyframes center-fruit {
    to {top: 5%; left: 44%; transform: scale(.7,.7);}
}

#title-fruit {
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-fruit {
    border-bottom: 2px solid #656565;
    cursor: pointer;
    background: none;
    color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

.fruit {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}

.honey-1 {
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-35%, -95%);
    width: 15%;
    filter: drop-shadow(10px 10px 10px #242424);
}

.honey-1.animate-honey1 {
    -webkit-animation: animate-honey1 .2s ease forwards;
}

@-webkit-keyframes animate-honey1{
    to {top: 50%; left: -5%; transform:rotate(-60deg); opacity:.5;}
}

.honey-2 {
    position: absolute;
    top: 60%;
    left: 27%;
    transform: translate(-27%, -60%);
    width: 17%;
    cursor: pointer;
    filter: drop-shadow(16px 16px 10px #242424);
    -webkit-animation: moving-honey 2s .5s ease infinite;
}

@-webkit-keyframes moving-honey {
    0% { top: 60%;}
    50% { top: 65%;}
    100% { top: 60%;}
}

.honey-2.animate-honey2 {
    -webkit-animation: animate-honey2 .2s ease forwards;
}

@-webkit-keyframes animate-honey2{
    to {top:140%; left: 25%;}
}

.honey-2.center-honey {
    -webkit-animation: center-honey .2s ease forwards;
}

@-webkit-keyframes center-honey {
    to { top: -2%; left: 42%; transform: scale(.7, .7);}
}

#title-honey{
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-honey{
    border-bottom: 2px solid #656565;
    cursor: pointer;
    background: none;
    color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

.blank-honey {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border: 3px solid red;
}

.honey {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}

.gold-1 {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -105%) rotate(10deg);
    width: 25%;
    cursor: pointer;
    filter: drop-shadow(12px 12px 10px #242424);
    -webkit-animation: moving-gold 2s .5s ease infinite;
}

@-webkit-keyframes moving-gold {
    from {filter: brightness(1);}
    to {filter: brightness(2);}
}

.gold-1.animate-gold1 {
    -webkit-animation: animate-gold1 .2s ease forwards;
}

@-webkit-keyframes animate-gold1{
    to {  top: 185%; opacity:.2;}
}

.gold-1.center-gold {
    -webkit-animation: center-gold .2s ease forwards;
}

@-webkit-keyframes center-gold {
    to  {top: 2%; left: 36%; transform: scale(.6, .6);}
}

.gold-2 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -72%);
    width: 20%;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px #242424);
}

.gold-2.animate-gold2 {
    -webkit-animation: animate-gold2 .2s ease forwards;
}

@-webkit-keyframes animate-gold2{
    to { top: 82%; left: 35%; transform:rotate(90deg); opacity:.5;}
}

#title-gold{
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-gold{
    border-bottom: 2px solid #656565;
    cursor: pointer;
    background: none;
    color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

.gold {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}

.bagel-1 {
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translate(-52%, -5%);
    width: 12%;
    filter: drop-shadow(12px 12px 10px #242424);
}

.bagel-1.animate-bagel1{
    -webkit-animation: animate-bagel1 .2s ease forwards;
}

@-webkit-keyframes animate-bagel1{
    to { top: 5%; left: 80%; transform:rotate(150deg); opacity:.5;}
}

.bagel-2 {
    position: absolute;
    top: -9%;
    left: 52%;
    transform: translate(-52%, 10%);
    width: 12%;
    cursor: pointer;
    filter: drop-shadow(8px 8px 10px #242424);
    -webkit-animation: moving-bagel 1s .5s ease infinite;
}

@-webkit-keyframes moving-bagel {
    from {-webkit-transform: translate(-52%, 10%) rotate(0deg) ;}
    to {-webkit-transform: translate(-52%, 10%) rotate(360deg) ;}
}

.bagel-2.animate-bagel2{
    -webkit-animation: animate-bagel2 .2s ease forwards;
}

@-webkit-keyframes animate-bagel2{
    to {top: -90%; opacity:.2;}
}

.bagel-2.center-bagel {
    -webkit-animation: center-bagel .2s ease forwards;
}

@-webkit-keyframes center-bagel {
    to  { top: 0%; left: 43%; transform: rotate(0deg) scale(.7, .7);}
}

#title-bagel{
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-bagel{
    border-bottom: 2px solid #656565;
    cursor: pointer;
    background: none;
    color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

.bagel {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}

.coke-2 {
    position: absolute;
    top: 28%;
    left: 57%;
    transform: translate(-57%, -28%) rotate(-30deg);
    width: 12%;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px #242424);
    -webkit-animation: moving-coke2 1s .5s ease infinite;
}

@-webkit-keyframes moving-coke2 {
    0% {-webkit-transform: translate(-57%, -28%) rotate(-30deg) ;}
    25% {-webkit-transform:translate(-57%, -28%) rotate(-55deg) ;}
    75% {-webkit-transform:translate(-57%, -28%) rotate(-30deg) ;}
}

.coke-2.animate-coke2{
    -webkit-animation: animate-coke2 .2s ease forwards;
}

@-webkit-keyframes animate-coke2{
    to {top:22%; left:150%; transform:rotate(45deg);}
}

.coke-2.center-coke2 {
    -webkit-animation: center-coke2 .2s ease forwards;
}

@-webkit-keyframes center-coke2 {
    to  {top: 2%; left: 48%; transform: scale(.8,.8) rotate(-60deg);}
}

.coke-3 {
    position: absolute;
    top: 24%;
    left: 55%;
    transform: translate(-55%, -24%) scale(.7, .7) rotate(-10deg);
    width: 12%;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px #242424);
    z-index: 1;
    -webkit-animation: moving-coke3 1s .5s ease infinite;
}

@-webkit-keyframes moving-coke3 {
    0% {-webkit-transform: translate(-55%, -24%) scale(.7, .7) rotate(-10deg) ;}
    25% {-webkit-transform: translate(-55%, -24%) scale(.7, .7) rotate(15deg) ;}
    75% {-webkit-transform: translate(-55%, -24%) scale(.7, .7) rotate(-10deg) ;}
}

.coke-3.animate-coke3{
    -webkit-animation: animate-coke3 .2s ease forwards;
}

@-webkit-keyframes animate-coke3 {
    to {top:22%; left:-100%; transform:rotate(65deg);}
}

.coke-3.center-coke3 {
    -webkit-animation: center-coke3 .2s ease forwards;
}

@-webkit-keyframes center-coke3 {
    to  {top: -5%; left: 43%; transform: scale(.55,.55) rotate(15deg);}
}

#title-coke{
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
}

#button-coke{
    border-bottom: 2px solid #656565;
    cursor: pointer;
    background: none;
    color: #0c090a;
    -webkit-animation: animate-button .5s 1s infinite;
}

.coke {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 50%;
    text-align: center;
    display: none;
}